<!DOCTYPE html>
 <html> 
     <head> 
         <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
          <title>Page Title</title>
           <meta name="viewport" content="width=device-width, initial-scale=1"> 
           <link rel="stylesheet" type="text/css" media="screen" href="/css/Comments.css"> 
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
          <body>
            <div class="page">
            <form method="post" action="" >
            <div class="black_bg "></div>
            <div class="modal_wrap ">
                <div class="modal_close"><a href="javascript:history.back();"></a></a></div>
               <div id="form-commentInfo"> 
                   <div id="comment-count">댓글 <span id="count">0</span>
                </div> 
                <input id="comment" name="comment" placeholder="댓글을 입력해 주세요."> 
                <button id="submit">등록</button> 
            </div> 
        </form>
        <% contents.forEach((data, index) => { %>
         
            <div class = "comments"> 
              <p><a href="/profile/<%= data.WRT_ID%>"><%= data.NAME%></a></p>
                    <%= data.COMMENT %>
                    <br>
                    <p> <%= data.WRT_DTT %></p>
            </div> 
            <hr>
              <% }); %> 
            </div>
    </body> 
</html>


