<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport content=" width="device-width" , initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/Write.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script> 
      function setThumbnail(event) { 
        var reader = new FileReader(); 
        reader.onload = function(event) {
           var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
             document.querySelector("div#image_container").appendChild(img); };
              reader.readAsDataURL(event.target.files[0]); } 
              </script>      
                <style type="text/css">
                  a:link { text-decoration: none;}
                  a:visited { color: rgb(255, 255, 255); text-decoration: none;}
                  a:hover { color: white; text-decoration: underline;}
                </style>
  </head>
  <body>
    <div class="black_bg"></div>
    <div class="modal_wrap">
      <div class="modal_close"><a href="javascript:history.back();">close</a></div>
      <!-- content -->
      <form action="/create" enctype="multipart/form-data" method="post">
     <div id="content">
       <div class="title">
        <h2><%= title %></h2>
        </div>
        
        <!-- 게시글 -->
        <div>
          <span class="box int_name">
            <textarea
              type="text"
              name="contents"
              id="contents"
              class="int"
              placeholder="게시글을 작성해보아요."></textarea>
          </span>
        </div>
 
    <span class="error_next_box"></span>
    <div>
      <select id="bbs_no" name="bbs_no" class="box1" required>
        <option value="">게시판선택</option>
        <option value="1">자유게시판</option>
        <option value="2">계열게시판</option>
        <option value="3">동아리게시판</option>
    </select>
    </div>

    <input type="file" name="post_title" id="post_title" class="img" onchange="previewImage(this,'View_area')">
    <div id='View_area' style='
    position:relative; 
    width: 100px; height: 100px;
     color: black; 
     border: 0px solid black; 
     display: inline; '>
     </div>
       <!-- JOIN BTN-->
       
        <input id="btnJoin" type="submit">
     </form>
    <script src="Write.js"></script>
  </body>
</html>




