
<script src="/PK_MainTG.js"></script>
<script src="/PK_Mypage.js"></script>
<script src="/PK_Mypage2.js"></script>
<!-- <script>
//     function comment(){
// document.getElementById("main").innerHTML =
// "<a href='#' onclick='sub()'>Chapter 1</a>";
// document.getElementById("sub").innerHTML =
// "Johnss's";
// }
</script> -->
</body>

</html>