<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport content=" width="device-width" , initial-scale="1.0" />
    <title>Pork Katsu : 우리들의 커뮤니티</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/PK_Main.css" />
    <!--자바 스크립트-->
  </head>

  <body>
    <header class="header">
      <!--헤더 왼쪽-->
      <div class="header_left">
        <img src="/img/Logo-PK.webp" alt="" />

        <form action="/search" method="get">
          <div class="header_input">
            <span class="material-icons" onclick="document.forms[0].submit()"
              >search</span
            >
            <input
              type="text"
              name="query"
              id="query"
              placeholder="Search in Pork katsu"
            />
          </div>
        </form>
      </div>

      <!--헤더 가운데-->
      <div class="header_middle">
        <div class="header_option" onclick="location.href='/index'">
          <span class="material-icons">person</span>
        </div>
        <div class="header_option">
          <span class="material-icons">bookmarks</span>
        </div>
        <div class="header_option" onclick="location.href='/list'">
          <span class="material-icons">school</span>
        </div>
        <div class="header_option" onclick="location.href='/show'">
          <span class="material-icons">connect_without_contact</span>
        </div>
        <div class="header_option">
          <span class="material-icons">groups</span>
        </div>
      </div>

      <!--헤더 우측-->
      <div class="header_right">
        <span class="material-icons">notifications_none</span>
        <div onclick="settingsMenuToggle()">
          <span class="material-icons">expand_more</span>
        </div>

        <!-- 토글 드롭 다운 -->
        <div class="settings_menu">
          <div class="settings_menu_inner">
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">settings</span>
              </div>
              <a href="#">환경설정</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">manage_accounts</span>
              </div>
              <a href="#">내 정보 수정</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">create</span>
              </div>
              <a href="/create">게시물 작성</a>
            </div>
            <hr />
            <div class="setting_links">
              <div class="settings_icon">
                <span class="material-icons">logout</span>
              </div>
              <a href="/logout">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
      <!--헤더 오른쪽-->
    </header>
  </body>
</html>
