<%- include('header'); -%>
<div class="container">
  <div class="profile">
    <div class="img">👦</div>
    <h2><%= user.NAME %></h2>
    <span><%= user.EMAIL %></span>
    <a href="/index">home</a>
  </div>
</div>
<%- include('footer'); -%>
