<%- include('header'); -%>
    <!--메인 바디-->
    <div class="container">
        <!--왼쪽 사이드 바-->
        <div class="left_sidebar">

        </div>

        <div class="main_contents">
            <!--게시물-->
            <div class="post">
                <div class="user_profile">
                    <img src="img/Logo-PK.webp" alt="">
                    <div>
                        <p>이유민</p>
                    </div>
                </div>
                <p class="post_text">환영합니다! Pork Katsu에 가입하신걸 축하드립니다. 여러학생들과 함께 교류하고 소통하면 함께 성장해보세요!</p>
                <img src="img/Logo-PK.webp" class="post_img">

                <!--게시물 밑에 옵션-->
                <div class="post_options">
                    <div class="post_option">
                        <span class="material-icons">thumb_up</span>
                        <p>좋아요</p>
                    </div>
                    <div class="post_option">
                        <span class="material-icons">chat_bubble_outline</span>
                        <p>댓글</p>
                    </div>
                    <div class="post_option">
                        <span class="material-icons">bookmark_border</span>
                        <p>저장하기</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

    </div>

    <%- include('footer'); -%>