<!DOCTYPE html>
<html lnag="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport content=" width="device-width" , initial-scale="1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/PK_Signup.css" />
    <title>Pork Katsu : 우리들의 커뮤니티</title>
  </head>

  <body>
    <!-- wrapper -->
    <form action="/signup" method="POST" id="wrapper">
      <!-- content-->
      <div id="content">
        <div class="title">
          <h2>간편하게 로그인 해보세요</h2>
        </div>
        <!-- 학번 -->
        <div>
          <h3 class="join_title">
            <label for="userid">학번</label>
          </h3>
          <span class="box int_id">
            <input
              type="number"
              name="userid"
              id="userid"
              class="int"
              placeholder="학번은 8자리 입니다."
            />
          </span>
          <span class="error_next_box"></span>
        </div>

        <!-- 이름 -->
        <div>
          <h3 class="join_title"><label for="fullname">이름</label></h3>
          <span class="box int_name">
            <input
              type="text"
              name="fullname"
              id="fullname"
              class="int"
              placeholder="한글 이름을 입력해주세요. (5자 이내)"
            />
          </span>
          <span class="error_next_box"></span>
        </div>

        <!-- PW1 -->
        <div>
          <h3 class="join_title"><label for="password">비밀번호</label></h3>
          <span class="box int_pass">
            <input
              type="text"
              name="password"
              id="password"
              class="int"
              maxlength="16"
              placeholder="8 ~ 16자 이내 (영문, 숫자, 특수문자)를 사용하세요."
            />
            <span id="alertTxt">사용불가</span>
            <div id="pswd1_img1" class="pswdImg"></div>
          </span>
          <span class="error_next_box"></span>
        </div>

        <!-- PW2 -->
        <div>
          <h3 class="join_title"><label for="pswd2">비밀번호 확인</label></h3>
          <span class="box int_pass_check">
            <input
              type="text"
              id="pswd2"
              class="int"
              maxlength="16"
              placeholder="비밀번호와 동일하게 작성하세요."
            />
            <div id="pswd2_img1" class="pswdImg"></div>
          </span>
          <span class="error_next_box"></span>
        </div>

        <!-- GENDER -->
        <div>
          <h3 class="join_title"><label for="gender">성별</label></h3>
          <span class="box gender_code">
            <select id="gender" name="gender" class="sel">
              <option>성별</option>
              <option value="M">남자</option>
              <option value="F">여자</option>
            </select>
          </span>
          <span class="error_next_box">필수 정보입니다.</span>
        </div>

        <!-- EMAIL -->
        <div>
          <h3 class="join_title">
            <label for="email"
              >본인확인 이메일<span class="optional">(선택)</span></label
            >
          </h3>
          <span class="box int_email">
            <input
              type="text"
              name="email"
              id="email"
              class="int"
              maxlength="50"
              placeholder="선택입력"
            />
          </span>
          <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
        </div>

        <!-- 학부/학과 -->
        <form id="haksa" name="haksk">
          <h3 class="join_title"><label for="sub">학부/학과</label></h3>
          <select id="sub" class="box">
            <option value="">학과 선택</option>
            <optgroup label="인공지능">
              <option value="DR">드론/로봇</option>
              <option value="CS">컴퓨터공학</option>
              <option value="SS">소프트웨어공학</option>
              <option value="BD">인공지능</option>
            </optgroup>

            <optgroup label="정보보안">
              <option value="CS">융합보안(인공지능/IOT)</option>
              <option value="IS">정보보안</option>
              <option value="HK">해킹</option>
              <option value="DF">디지털포렌식(사이버수사)</option>
            </optgroup>

            <optgroup label="게임">
              <option value="GA">게임인공지능프로그래밍</option>
              <option value="GP">게임</option>
              <option value="GD">게임아트디자인</option>
            </optgroup>

            <optgroup label="디지털 디자인">
              <option value="DD">디지털디자인</option>
              <option value="IS">일러스트레이션/드로잉</option>
              <option value="MY">미디어/유튜브</option>
              <option value="WA">웹툰/애니</option>
            </optgroup>

            <optgroup label="전기공학">
              <option value="EL">전기공학</option>
            </optgroup>
          </select>
          <span class="error_next_box"></span>
        </form>

        <!-- JOIN BTN-->
        <div class="btn_area" style="text-align: center">
          <button type="button" id="btnJoin" type="submit">
            <span>계정 생성하기</span>
          </button>
        </div>
      </div>
    </form>
    <script src="/PK_Signup.js"></script>
    <% if (msg) {%>
    <script>
      var msg = "<%= msg %>";
      alert(msg);
    </script>
    <%}%>
  </body>
</html>
