<!DOCTYPE html>
<html lnag="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport content=" width="device-width" , initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="Write.css" />
    <title>Pork Katsu : 우리들의 커뮤니티</title>

    <style type="text/css">
      a:link { text-decoration: none;}
      a:visited { color: rgb(255, 255, 255); text-decoration: none;}
      a:hover { color: white; text-decoration: underline;}
    </style>

  </head>

  <body>
    <form>
      <div class="black_bg"></div>
        <div class="modal_wrap">
            <div class="modal_close" onClick="location.href='PK_Login.html'"><a href="# ">close</a></div> 
            <!-- wrapper -->
    <form action="/signup" method="POST" id="wrapper">
      <!-- content-->
      <div id="content">
        <div class="title">
          <h2>글을 작성해보아요.</h2>
        </div>
        <!-- 게시글 -->
        <div>
          <h3 class="join_title"><label for="fullname"></label></h3>
          <span class="box int_name">
            <input
              type="text"
              name="text"
              id="text"
              class="int"
              placeholder="게시글을 작성해보아요."/>
          </span>
        </div>
  

      <!-- JOIN BTN-->
      <div class="btn_area" style="text-align: center;">
          <button type="button" id="btnJoin" type="submit">
              <span><div class="btnJoin" onClick="location.href=''"><a href="#">게시글 등록</a></div></span>
          </button>
      </div>

    <div class="btn_area2" style="text-align: center;">
      <button type="button" id="btnJoin2" type="submit">
          <span><div class="btnJoin2" onClick="location.href=''"><a href="#">수정</a></div></span>
        </button>

        <div class="btn_area3" style="text-align: center;">
          <button type="button" id="btnJoin3" type="submit">
              <span><div class="btnJoin3" onClick="location.href=''"><a href="#">삭제</a></div></span>
              </button>
  </div>
  </div>

  <form>
    <h4 class="join_title"><label for="sub">학부/학과</label></h4>
    <select id="sub" name="sub" class="box1">
        <option value=""></option>
        <optgroup label="인공지능">
            <option value="DR">드론/로봇</option>
            <option value="CS">컴퓨터공학</option>
            <option value="SS">소프트웨어공학</option>
            <option value="BD">빅데이터/인공지능</option>
        </optgroup>

        <optgroup label="정보보안">
            <option value="CS">융합보안(인공지능/IOT)</option>
            <option value="IS">정보보안</option>
            <option value="HK">해킹</option>
            <option value="DF">디지털포렌식(사이버수사)</option>
        </optgroup>

        <optgroup label="게임">
            <option value="GA">게임인공지능프로그래밍</option>
            <option value="GP">게임기획</option>
            <option value="GD">게임아트디자인</option>
        </optgroup>

        <optgroup label="디지털 디자인">
            <option value="DD">디지털시각디자인/비주얼웹디자인</option>
            <option value="IS">일러스트레이션/드로잉</option>
            <option value="MY">미디어/유튜브</option>
            <option value="WA">웹툰/애니</option>
        </optgroup>

        <optgroup label="전기공학">
            <option value="EL">전기공학</option>
        </optgroup>
    </select>
    <span class="error_next_box"></span>

</form>


  <!--이미지 미리보기-->
  <form>

    <input type="file" name="profile_pt" id="profile_pt" class="img" onchange="previewImage(this,'View_area')">
    <div id='View_area' style='
    position:relative; 
    width: 100px; height: 100px;
     color: black; 
     border: 0px solid black; 
     display: inline; '></div>
       <!--<script> 
        function setThumbnail(event) { 
          for (var image of event.target.files) 
          { var reader = new FileReader(); 

          reader.onload = function(event) { 
            var img = document.createElement("img");
             img.setAttribute("src", event.target.result); 
             document.querySelector("div#image_container").appendChild(img); 
             };
             
             console.log(image); 
             reader.readAsDataURL(image); 
            } 
          } 
        </script>-->
        <script src="Write.js"></script>
        </form>
      </body> 
 </html>